@{
    ViewData["Title"] = "ExampleController Index Sayfası";
    Layout = "OrnekLayout";

}
@section header
{
    <p>Bu kodlar headerın hemen altına eklenecek</p>

}
@section footer
{
    Bu kodlar hemen footerın altına eklenecek
}
<div>Bu Sayfa Example Controller > Index Sayfası</div>